@import "fonts";
@import "responsive";
@import "color";

body{
  font-family: $font-p;
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  width: 100%
}

.center{
  text-align: center;
}

.options{
  ul{
    li{
      display: inline-block;
      font-weight: 400;
      margin: 15px;
    }
  }
}

.icon-left{
  float: right;
  i{
    a{
      text-decoration: none;
      color: $color-text;
    }
  }
}

.img-hero{
  width: 100%;
}

.text-intro{
  float: left;
}

.font-date{
  font-family: $font-t;
}

hr{
  border-top: 4px solid $color-line;
}

section{
  box-sizing: border-box;
  margin: 50px 50px;
  overflow: hidden;
}
